/* ====  RESET  ==== */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====  VARIÁVEIS  ==== */
:root {
    /* -- cores  -- */
    --pink-light:#C59DD2;
    --pink-base:#9547A5;
    --pink-dark:#7D298A;
    --pink-low:#1c071d;
    --blue-light:#73B6D2;
    --blue-base:#358BB9;
    --blue-mid:#2374A4;
    --blue-dark:#144A72;
    --blue-low:#08233C;
    --shape-stroke:#002347;
    --shape-hover:#001933;
    --shape-base:#000F1F;
    --shape-background:#00050A;
    --text-title:#F8FBFB;
    --text-body:#E2E7E9;
    --text-label:#BAC6C9;
    /* -- fontes  -- */
    --ff-base: "Raleway", sans-serif;
    --title-lg: 700 3rem var(--ff-base);
    --title-md: 700 2.5rem var(--ff-base);
    --title-sm: 700 2rem var(--ff-base);
    --title-xs: 700 1rem var(--ff-base);
    --subtitle: 500 2rem/2 var(--ff-base);
    --body-lg: 400 1.25rem/1.4 var(--ff-base);
    --body-md: 400 1rem/1.4 var(--ff-base);
    --body-sm: 400 .875rem var(--ff-base);
    --body-xs: 400 .75rem var(--ff-base);
    --button: 700 .875rem var(--ff-base);
    --link: 500 .875rem var(--ff-base);
    --tag: 700 .625rem var(--ff-base);
}

a {
    color: inherit;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
}


body {
    background: var(--pink-low);
}

#hero, #material {
    margin-inline: auto;
    width: 100%;
}


/* ====  MEDIA QUERIES  ==== */
@media (min-width: 1200px) {
    main {
        max-width: 90rem;
        margin-inline: auto;
    }
}