#hero {
    background: var(--pink-low);
    padding:1.25rem 1.25rem 1.91rem 1.25rem;                        /* 20px 20px 30.5px 20px */
}

#hero-top {
    max-width: 23.4375rem;                                          /* 375px */
    width: 100%;
    margin-inline: auto;

    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3rem;                                               /* 48px */

        & .mobile-only {
            width: 64.55px;
        }

        & span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 20px;
            gap: 8px;
            width: 89px;
            height: 40px;
            background: var(--pink-dark);
            border-radius: 8px;
            font:var(--button);
            color: var(--text-title);
            position: relative;
            overflow: hidden;
            z-index: 1;
       }

       & span::before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            background: var(--pink-base);
            transform: translate(-50%, -50%) scale(0);
            transform-origin: center;
            transition: transform 0.4s ease-out;
            z-index: -1;
       }

        &:hover span::before {
        transform: translate(-50%, -50%) scale(1);
        }
    }
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

/* ====  MEDIA QUERIES  ==== */
@media (min-width: 1200px) {
        #hero {
        background: var(--pink-low);
        padding:3.5rem 10rem 5.5rem 10rem;                          /* 56px 160px 88px 160px */
    }
    
    #hero-top {
       max-width: 90rem;                                            /* 1440px */
       width: 100%;
       margin-inline: auto;

       & header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 3.625rem;                                       /* 58px */
       }

    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
        width: 230px;
    }

}