#hero {
    background: var(--pink-low);
    background-image: url(../assets/hero-background.png);
    background-size: auto 464px;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#hero-top {
    max-width: 23.4375rem;                                          /* 375px */
    width: 100%;
    padding-top: 1.25rem;                                           /* 20px */
    padding-inline: 1.25rem;                                        /* 20px */
    height: 464px;

    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3rem;                                               /* 48px */

        & .mobile-only {
            width: 64.55px;
        }

        & span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 20px;
            gap: 8px;
            width: 89px;
            height: 40px;
            background: var(--pink-dark);
            border-radius: 8px;
            font:var(--button);
            color: var(--text-title);
            position: relative;
            overflow: hidden;
            z-index: 1;
       }

       & span::before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            background: var(--pink-base);
            transform: translate(-50%, -50%) scale(0);
            transform-origin: center;
            transition: transform 0.4s ease-out;
            z-index: -1;
       }

        &:hover span::before {
        transform: translate(-50%, -50%) scale(1);
        }
    }

    & #hero-title {
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;                                           /* 48px */
        gap: 1rem;                                                  /* 16px */
        width: 100%;
        max-width: 20.9375rem;                                      /* 335px */

        & h1 {
            font-family: var(--ff-base);
            font-weight: 700;
            font-size: 1.75rem;                                     /* 28px */
            color: var(--text-title);
            text-align: center;
        }

        & p {
            font-family: var(--ff-base);
            font-weight: 400;
            font-size: .875rem;                                     /* 14px */
            color: var(--text-title);
            text-align: center;
        }
    }
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

/* ====  MEDIA QUERIES  ==== */
@media (min-width: 1200px) {
        #hero {
        background: var(--pink-low);
        background-image: url(../assets/hero-background.png);
        background-size: auto 948px;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
    }
    
    #hero-top {
       max-width: 90rem;                                            /* 1440px */
       width: 100%;
       padding-top: 3.5rem;                                         /* 56px */
       padding-inline: 10rem;                                       /* 160px */

       height: 948px;

       & header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 3.625rem;                                       /* 58px */
       }

       & #hero-title {
        margin-top: 10.25rem;                                       /* 164px */
        gap: 2rem;                                                  /* 32px */
        width: 100%;
        max-width: 41rem;                                           /* 656px */

        & h1 {
            font-size: 3rem;                                        /* 48px */
        }

        & p {
            font-size: 1.25rem;                                     /* 20px */
        }
    }

    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
        width: 230px;
    }

}